Package: ch.marcoroth.shortlook.plugin.contact-photo.linkedin
Name: LinkedIn Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show LinkedIn users' profile pictures in ShortLook when you receive a LinkedIn notification!
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
